<table class=" table table-striped sortable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Author name</th>
      <th>ISBN</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render @books %>
  </tbody>
</table>